<div class="text-center">
    <h1 class="display-4">Додати пацієнта</h1>
</div>

<div class="input-group">
    <input type="text" placeholder="Ім'я'" class="form-control">
</div>

<div class="input-group">
    <input type="datetime" class="form-control" placeholder="Дата народження">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Стать">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Адреса">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Номер телефону">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Електронна пошта">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Список вакцин">
</div>

<div>
    <input type="text" class="form-control" placeholder="Місце роботи">
</div>