@using Sanatorium.BLL.DTOs;

@{
    ViewData["Title"] = "Patients Filtration Page";
}

<div class="text-center">
    <h1 class="display-4">Фільтрація пацінтів за віком</h1>
</div>
<div>
    <h1> </h1>
</div>
<div class="d-flex justify-content-center">
    <a href="/Home/OldPatients" class="btn btn-secondary w-25"> Літні пацієнти </a>
</div>
<div>
    <h1> </h1>
</div>
<div class="d-flex justify-content-center">
    <a href="/Home/MiddlePatients" class="btn btn-secondary w-25"> Середнього віку пацієнти </a>
</div>
<div>
    <h1> </h1>
</div>
<div class="d-flex justify-content-center">
    <a href="/Home/YoungPatients" class="btn btn-secondary w-25"> Молоді пацієнти </a>
</div>
