@{
    ViewData["Title"] = "Administrator Main Page";
}

<div class="text-center">
    <h1 class="display-4">Сторінка адміністратора</h1>
</div>

<div class="p-3 d-flex justify-content-center">
    <a href="/Home/PatientsMain" class="btn btn-secondary w-25"> Пацієнти </a>
    <a href="/Home/DoctorsMain" class="btn btn-secondary w-25"> Лікарі </a>
    <a href="/Home/VouchersMain" class="btn btn-secondary w-25"> Путівки </a>
    <a href="/Home/IllnessesMain" class="btn btn-secondary w-25"> Хвороби </a>
    <a href="/Home/ProceduresMain" class="btn btn-secondary w-25"> Процедури </a>
    <a href="/Home/RoomsMain" class="btn btn-secondary w-25"> Кімнати </a>
</div>

