@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
</div>
<div>
    <h1> </h1>
</div>
<div class="d-flex justify-content-center">
    <a href="Administrator/Index" class="btn btn-secondary w-25"> Для адміністратора </a>
</div>
<div>
    <h1> </h1>
</div>
<div class="d-flex justify-content-center">
    <a href="Doctor/Index" class="btn btn-secondary w-25"> Для лікаря </a>
</div>
<div>
    <h1> </h1>
</div>
<div class="d-flex justify-content-center">
    <a href="Manager/Index" class="btn btn-secondary w-25"> Для менеджера </a>
</div>
