@{
    ViewData["Title"] = "Doctor Main Page";
}

<div class="text-center">
    <h1 class="display-4">Сторінка лікаря</h1>
</div>

<div class="p-3 d-flex justify-content-center">
    <a href="/Home/PatientsMain" class="btn btn-secondary w-25"> Пацієнти </a>
    <a href="/Home/ProceduresMain" class="btn btn-secondary w-25"> Процедури </a>
</div>